#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-direction: column;   /* stack items vertically */
  justify-content: center;  /* vertical center */
  align-items: center;      /* horizontal center */
  height: 100vh;            /* full screen height */
  gap: 5px;
  text-align: center;
  background-color: antiquewhite;
}

h1{
  color: blueviolet;
}

h4{

  color: blueviolet;

}

button {
  background-color: rgb(3, 10, 51);
  color: blueviolet;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.count {
  font-size: 40px;
  font-weight: bold;
}

.foot{
  color: blueviolet;
  font-size: 40px;
  font-weight: bold;

}
